.recipe-card-image {
  box-shadow: inset var(--text-1) 0 0 0 2px, inset var(--surface-1) 0 0 0 4px,
    inset var(--text-1) 0 0 0 5px, inset var(--surface-1) 0 0 0 7px,
    inset var(--text-1) 0 0 0 10px, inset var(--surface-1) 0 0 0 15px,
    inset var(--text-1) 0 0 0 16px;
  padding: 22px;
}
