<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% if title %}
<title>{{ title }} – {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %} {% if description %}
<meta name="description" content="{{ description }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}

<link rel="shortcut icon" href="/img/favicon.png" />

{% metaRobots %}

<link rel="preconnect" crossorigin href="https://static.owlish.dev" />

<link rel="stylesheet" href="/css/custom-properties.css" />
<link rel="stylesheet" href="/css/main.css" />
{% if pageCSS %}
<link rel="stylesheet" href="/css/{{ pageCSS }}" />
{% endif %}
<link
  rel="alternate"
  href="/feeds/cards.xml"
  title="Rezeptkarten-Feed"
  type="application/rss+xml"
/>
