@import './2-structures/_card.pcss';

.series {
  background-color: var(--text-1);
  color: var(--surface-1);

  :any-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.series__inner {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-inline-size: var(--detail-view-container-inline-size);
  padding-block: var(--space-s);
  padding-inline: var(--space-m);

  p {
    font-variant-numeric: initial;
  }
}

.card {
  gap: var(--space-m);
  margin-inline: auto;
  max-inline-size: var(--detail-view-container-inline-size);
  padding: var(--size-5);

  @media (--md-n-above) {
    & {
      display: grid;
      grid-template-columns: 40% 1fr;
    }
  }
}
.card-image {
  align-self: start;
  box-shadow: inset var(--text-1) 0 0 0 2px, inset var(--surface-1) 0 0 0 4px,
    inset var(--text-1) 0 0 0 5px, inset var(--surface-1) 0 0 0 7px,
    inset var(--text-1) 0 0 0 10px, inset var(--surface-1) 0 0 0 15px,
    inset var(--text-1) 0 0 0 16px;
  padding: 22px;

  @media (--md-n-above) {
    & {
      position: sticky;
      top: var(--size-5);
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  @media (--md-n-above) {
    & + .ornamental-frame {
      margin-top: calc(-0.5 * var(--frame-ornament));
    }
  }
}

.card-content {
  max-inline-size: var(--size-content-3);
  padding-block: var(--space-s);

  h1 {
    max-inline-size: unset;
    text-align: center;
  }

  & > * + * {
    margin-block-start: var(--space-m);
  }
}

.card-text {
  :is(p, ul, ol) + :is(p, ul, ol) {
    margin-block-start: var(--space-xs);
  }

  :is(audio) {
    inline-size: 100%;
  }

  :is(hr) {
    inline-size: 45%;
    margin-block: var(--size-3);
    margin-inline: auto;
  }

  h2 {
    font-size: var(--u-font-size-0);
    margin-block-start: var(--size-3);
    max-inline-size: var(--size-content-3);
  }
}

.metadata {
  margin-block-start: var(--space-s);

  & * {
    font-size: var(--u-font-size--1);
  }
}

.card-footer__inner {
  margin-inline: auto;
  max-inline-size: var(--detail-view-container-inline-size);
  padding-block: var(--space-s);
  padding-block-end: 0;
  padding-inline: var(--size-5);
  text-align: center;
}

.logo-container {
  display: block;
  /* margin-block-start: calc(-1 * var(--size-10)); */
  margin-inline: auto;
  padding: var(--space-m);
  position: relative;
  text-align: center;
  width: min(90vw, 25rem);
  z-index: 10;
}

.series-navigation {
  margin-block-end: var(--space-m);
  text-align: left;

  ol {
    column-gap: var(--space-l);
    display: flex;
    flex-flow: row wrap;
    row-gap: var(--space-2xs);
  }
}
