:root {
  --u-font-size--2: clamp(0.7901rem, 0.7659rem + 0.1209vw, 0.9549rem);
  --u-font-size--1: clamp(0.8889rem, 0.8512rem + 0.1886vw, 1.1458rem);
  --u-font-size-0: clamp(1rem, 0.945rem + 0.2752vw, 1.375rem);
  --u-font-size-1: clamp(1.125rem, 1.0479rem + 0.3853vw, 1.65rem);
  --u-font-size-2: clamp(1.2656rem, 1.1608rem + 0.5243vw, 1.98rem);
  --u-font-size-3: clamp(1.4238rem, 1.2841rem + 0.6988vw, 2.376rem);
  --u-font-size-4: clamp(1.6018rem, 1.4184rem + 0.917vw, 2.8512rem);
  --u-font-size-5: clamp(1.802rem, 1.5643rem + 1.1886vw, 3.4214rem);
  --u-font-size-6: clamp(2.0273rem, 1.7222rem + 1.5255vw, 4.1057rem);

  --space-3xs: clamp(0.25rem, 0.2317rem + 0.0917vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.4725rem + 0.1376vw, 0.6875rem);
  --space-xs: clamp(0.75rem, 0.7041rem + 0.2294vw, 1.0625rem);
  --space-s: clamp(1rem, 0.945rem + 0.2752vw, 1.375rem);
  --space-m: clamp(1.5rem, 1.4174rem + 0.4128vw, 2.0625rem);
  --space-l: clamp(2rem, 1.8899rem + 0.5505vw, 2.75rem);
  --space-xl: clamp(3rem, 2.8349rem + 0.8257vw, 4.125rem);
  --space-2xl: clamp(4rem, 3.7798rem + 1.1009vw, 5.5rem);
  --space-3xl: clamp(6rem, 5.6697rem + 1.6514vw, 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1858rem + 0.3211vw, 0.6875rem);
  --space-2xs-xs: clamp(0.5rem, 0.4174rem + 0.4128vw, 1.0625rem);
  --space-xs-s: clamp(0.75rem, 0.6583rem + 0.4587vw, 1.375rem);
  --space-s-m: clamp(1rem, 0.844rem + 0.7798vw, 2.0625rem);
  --space-m-l: clamp(1.5rem, 1.3165rem + 0.9174vw, 2.75rem);
  --space-l-xl: clamp(2rem, 1.6881rem + 1.5596vw, 4.125rem);
  --space-xl-2xl: clamp(3rem, 2.633rem + 1.8349vw, 5.5rem);
  --space-2xl-3xl: clamp(4rem, 3.3761rem + 3.1193vw, 8.25rem);

  --clr-base: '#001312';
  --surface-1: var(--yellow-2);
  --text-1: var(--choco-12);
  --link: var(--choco-9);
  --accent: var(--choco-6);

  --detail-view-container-inline-size: 100rem;
}
