.home-header {
  padding: var(--size-4);
  text-align: center;

  p {
    margin-inline: auto;
  }
}

.home-frame {
  margin-inline: auto;
  max-inline-size: calc(1.5 * var(--size-content-3));
  padding-inline: max(2w, var(--size-5));
}

.home-intro {
  display: flex;
  flex-flow: column;
  margin-inline: auto;
  max-inline-size: var(--size-content-3);
  row-gap: var(--size-4);
}

.group-list {
  @media (--sm-n-above) {
    column-count: 2;
    column-gap: var(--size-2);
  }
}
