@import './0-base/_reset.pcss';
@import './0-base/_universal.pcss';
@import './0-base/_aspect-ratio.pcss';
@import './0-base/_a.pcss';
@import './0-base/_lists.pcss';
@import './0-base/_img.pcss';

@import './1-atoms/_typography.pcss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  & > .page-footer {
    margin-block-start: auto;
  }
}

.logo {
  width: min(50vw, 320px);
}

.base-header {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: var(--size-3);
}

.text-page {
  margin-inline: auto;
  max-inline-size: var(--size-content-3);

  & :is(p, h2, h3, h4) + :is(p, h2, h3, h4) {
    margin-block-start: 1em;
  }
}

.end-role {
  align-content: center;
  background-color: var(--choco-12);
  display: flex;
  justify-content: center;
  margin-block-start: var(--size-3);
  padding-block: var(--size-2);
  padding-inline: var(--size-5);
}
