/* Search results page layout */
.search-page {
  inline-size: calc(var(--detail-view-container-inline-size) / 2);
  margin-inline: auto;
  padding-inline: var(--space-s);

  h1 {
    font-size: var(--u-font-size-3);
    margin-block-end: var(--space-m);
  }
}
