@import url('./2-structures/_card.pcss');
@import url('./2-structures/_card-grid.pcss');
@import url('./2-structures/_page-nav.pcss');

.series-archive-header {
  margin-block-end: var(--size-5);
  margin-inline: auto;
  max-inline-size: var(--detail-view-container-inline-size);
  text-align: center;

  h1 {
    font-size: var(--u-font-size-2);
    margin-inline: auto;
  }
}

.series-nav-container {
  margin-inline: auto;
  max-inline-size: var(--detail-view-container-inline-size);
  padding-block: var(--space-s);
  padding-inline: var(--size-5);
  text-align: center;
}
