<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>{{ title }} – {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    {% if description %}
      <meta name="description" content="{{ description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    {% metaRobots %}

    <link rel="stylesheet" href="/css/custom-properties.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      {{page.url | getVueComponentCssForPage | safe}}
    </style>
  </head>
  <body>
    <header>
      <img
        src="/img/zeichen-guter-gastlichkeit.avif"
        alt="Zeichen guter Gastlichkeit"
        class="logo"
      />
      <nav>
        <a href="/">Start</a>
      </nav>
    </header>
    <main class="{{ layoutClass }}" id="main" tabindex="-1">
      {{ content | safe }}
    </main>
  </body>
</html>
