<!DOCTYPE html>
<html lang="de">
  <head>
    {% include "components/core/base-head.njk" %}
  </head>
  <body>
    <a href="#main" class="skip-link">Zum Inhalt springen</a>
    <header class="base-header">
      <img
        src="/img/zeichen-guter-gastlichkeit.avif"
        alt="Zeichen guter Gastlichkeit"
        class="logo"
      />
      <nav>
        <a href="/">Start</a>
      </nav>
    </header>
    <main class="{{ layoutClass }}" id="main" tabindex="-1">
      {{ content | safe }}
    </main>
    <footer class="page-footer">
      {% include "components/core/end-role.njk" %}
    </footer>
  </body>
</html>
