<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "components/core/base-head.njk" %}
    <link rel="dns-prefetch" href="{{ build.cdnDomain }}" />
  </head>

  <body>
    <main class="{{ layoutClass }}" id="main" tabindex="-1">
      <header>
        <section class="series">
          <div class="series__inner">
            <p>
              <strong>Serie {{ fullSeriesInfo.id }}/{{ cardNumber }}</strong>
            </p>
            <p>
              <a href="/{{ fullSeriesInfo.name | slugify }}">{{
                fullSeriesInfo.name
              }}</a>
            </p>
          </div>
        </section>
        <a href="/" class="logo-container">
          <img
            src="/img/zeichen-guter-gastlichkeit.avif"
            alt="Zeichen guter Gastlichkeit"
            class="logo"
          />
        </a>
      </header>
      <article class="card">
        <figure class="card-image">
          {% if image %}
          <img
            src="{{ image }}"
            alt=""
            data-image-sizes="(min-width: 780px) 33vw, 90vw"
            data-process-image
          />
          {% endif %}
        </figure>
        <section class="card-content">
          <header>
            <h1 class="main-headline">{{ title }}</h1>
          </header>
          <section class="card-text">
            <audio controls preload="metadata" src="{{ audio }}"></audio>
          </section>
          <section class="card-text">
            {{ content | safe }}
          </section>
          <section class="card-text metadata">
            <p>
              Musik von {{ music.artist }} vom Album
              <a href="{{ music.albumLink }}">{{ music.albumName }}</a
              >.
            </p>
          </section>
        </section>
      </article>
      <footer class="card-footer">
        <div class="card-footer__inner">
          <nav class="series-navigation" aria-label="Serie">
            <p>Rezeptkarten in der Serie {{ fullSeriesInfo.name }}</p>
            <ol>
              {% for card in fullSeriesInfo.cards %}
              <li>
                <a href="{{ card.url }}">{{ card.data.title }}</a>
              </li>
              {% endfor %}
            </ol>
          </nav>
          <nav>
            <a href="/">Start</a>
          </nav>
        </div>
        {% include "components/core/end-role.njk" %}
      </footer>
    </main>
  </body>
</html>
