---
layout: 'layouts/base.njk'
permalink: '/'
templateClass: 'page-home'
pageCSS: home
---

<h1 class="main-headline">Zeichen guter Gastlichkeit</h1>
<p>Kultiviertes Essen und Trinken</p>
<section>
  <p>
    Mit der Rezeptkartenserie »Zeichen guter Gastlichkeit« wünschen wir Ihnen
    guten Erfolg, zufriedene und dankbare Gäste - und nicht zuletzt viel Freude
    an Tisch und Herd.
  </p>
  <p>
    Mit diesem Sammelwerk von Rezeptkarten liefern wir Ihnen nicht nur
    Vorschläge für Festessen, sondern auch für alltägliche Gerichte. Sie werden
    durch einen kleinen Pfiff besonders schmackhaft gemacht und bieten dadurch
    eine willkommene Abwechslung in Ihrem Speiseplan. Sie finden neben den
    Rezepten auch zahlreiche Tips und Anleitungen, wie Sie Fragen lösen können,
    die gelegentlich Probleme aufwerfen.
  </p>
  <p>
    Bitte beachten Sie auch die nachstehenden Hinweise für ein gutes Gelingen.
  </p>
</section>
